.app {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(238, 75, 102, 0.644);
}

.links {
  display: flex;
  gap: 1em;
  list-style-type: none;
  justify-content: center;
  width: 100%;
}

.nav-links {
  text-decoration: none;
  color: blue;
  font-size: 20px;
  padding: 1em;
}

.nav-links:hover {
  color: white;
}
